body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #a68dfd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
    overflow: hidden;
}

.illustration {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a68dfd;
}

.illustration img {
    width: 100%;
    height: 100vh;  
    object-fit: cover;
}


.login-box {
    flex: 0 0 400px;      
    display: flex;        
    flex-direction: column;
    justify-content: center;  
    align-items: center;     
    padding: 40px;
    background: #fff;
    height: 80vh;            
    margin-right: 40px;       
    margin-left: 40px;        
    border-radius: 16px;     
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}



.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6b21a8;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #9333ea;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.login-box button:hover {
    background: #6b21a8;
}

.role-toggle {
    display: flex;
    justify-content: center;
    gap: 20px;   
    margin-bottom: 20px;
}

.role-toggle label {
    padding: 8px 16px;
    border-radius: 20px;
    background: #f3e8ff;
    cursor: pointer;
    transition: 0.3s;
}

.role-toggle input[type="radio"] {
    display: none; 
}

.role-toggle input[type="radio"]:checked + label {
    background: #9333ea;
    color: white;
}

/* Video Section */
.video-section {
    text-align: center;
}
.video-box {
    width:640px; 
    height:480px;
    background: #ddd;
    border-radius: 12px;
    margin: auto;
}
.controls {
    margin-top: 12px;
}
.controls i {
    margin: 0 8px;
    font-size: 18px;
    color: #7c3aed;
}
.btn-share {
    margin-left: 15px;
    padding: 8px 18px;
    background: #8b5cf6;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn-share:hover {
    background: #6d28d9;
}


.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}


.forgot-password {
    width: 100%;
    text-align: right;
    margin: 8px 0 16px 0;
}

.forgot-password a {
    font-size: 14px;
    color: #9333ea;
    text-decoration: none;
    transition: 0.3s;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #6b21a8;
}

.signup-link {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.signup-link p {
    font-size: 16px;
    color: black;
}

.signup-link a {
    font-size: 16px;
    color: #6b21a8;
    text-decoration: none;
    transition: 0.3s;
}

.signup-link a:hover {
    text-decoration: underline;
    color: #6b21a8;
}