body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    padding: 30px 40px;
}

.signup-box h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.role-toggle {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.role-btn {
    background: #e0e0e0;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.role-btn.active {
    background: #0078d7;
    color: #fff;
}

.role-btn:hover {
    background: #0062b5;
    color: #fff;
}

.form-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.form-section {
    display: flex;
    width: 100%;
    gap: 30px;
}

.form-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-width: 200px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #0078d7;
    box-shadow: 0 0 3px rgba(0, 120, 215, 0.4);
}

.profile-pic {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #f1f1f1;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    border-radius: 50%;
}

.upload-btn {
    background: #0078d7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.upload-btn:hover {
    background: #005ea6;
}

.signup-btn {
    background: #0078d7;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: 0.3s;
}

.signup-btn:hover {
    background: #005ea6;
}

@media (max-width: 768px) {
    .form-section {
        flex-direction: column;
        align-items: center;
    }

    .form-left, .form-right {
        width: 100%;
    }

    .form-right{
        order: -1;
        margin-bottom: 20px;
    }

    .signup-box {
        padding: 20px;
    }
}
